
@{
    ViewBag.Title = "Бронирование";
}

<h2>Вы успешно забронировали билет!</h2>

<p>Вы можете посмотреть забронированные билеты в @Html.ActionLink("Личном кабинете", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Личный кабинет" }).</p>

