
@{
    ViewBag.Title = "Покупка";
}

<h2>Вы успешно купили билет!</h2>

<p>Вы можете посмотреть купленные билеты и произвести оплату в @Html.ActionLink("Личном кабинете", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Личный кабинет" }).</p>

